<!-- views/partials/header.ejs -->
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<% if(username){ %>
  <header style="font-size:20px; padding:50px;"> Logged in as <%= username %> 
  <form method="POST" action="/logout"> 
  <input type="submit" value="Logout">
  </form> 
<% } else {%>
<br><br> 
  <form method="POST" action="/login"> 
  <label for="username"> Login: </label>
  <input id="username" type="text" name="username" placeholder="username" style="width: 300px" />
  <input type="submit" value="Submit">
<%} %>
<br><br> 
</form> 
</header>