<!-- views/partials/header.ejs -->
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<% if(user){ %>
  <header style="font-size:20px; padding:50px;"> Logged in as <%= user.email%> 
  <form method="POST" action="/logout"> 
  <input type="submit" value="Logout">
<% } else { %>
<br><br>
  <a href="/register" input id="register" type="text" name="register"> Register </a> 
<br><br> 
  <a href="/login" input id="login" type="text" name="login"> Log In  </a> 
<% } %>
</form> 
</header>