<!DOCTYPE html>
<html lang="en">
<head>
 <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
  <h2> List of URLs <h2>
  <% for (const key in urls) { %>
    <%= key %> : <%= urls[key] %> 
    <br><br>
    <a href="/urls/<%= key %>/update" input id="shortURL" type="text" name="shortURL">update </a> 
    <form method="POST" action="/urls/<%= key %>/delete"> 
    <button>delete</button> 
    <br><br> 
    </form>   
  <% } %> 
<a href="/urls/new" input id="newURL" type="text" name="newURL"> Enter new URL to shorten </a> <br>
</body>

</html>

