<!DOCTYPE html>
<html lang="en">
<head>
 <% include ./partials/_header %>
</head>
<body>
    <!-- Add your EJS code here -->
  <h2> List of URLs <h2>
  <form method="POST" action="/urls/9sm5xK/delete">...</form>
  <% for (const key in urls) { %>
    <li><%= key %> : <%= urls[key] %></li>
  <% } %>
<a href="/urls/new"> Enter new URL to shorten </a>
</body>

</html>